body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#chat-messages {
    min-height: 10vh;
    height: 72vh;
    width: 100%;
    overflow-y: scroll;
}

#login-box {
    min-height: 75vh;
    height: 600px;
    width: 100%;
    overflow-y: hidden;
}

#sidenav {
  min-height: 10vh;
  height: 82vh;
}
